<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="stylecontact.css" />
    <title>İletişim</title>
</head>
<section class="section1"><img src="images/logo.png" alt="" /></section>
<hr />
<body class="h-100 d-flex flex-column">
    <main>
        <div class="container my-4">
            <h2 class="my-3">İletişime Geçin</h2>
            <div class="row g-2">
                <div class="col-md-6">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3002.8482710597173!2d27.81530187586769!3d41.18147647132682!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b4e745bc85d6bf%3A0xf06945ec414379c0!2sT.C.%20Nam%C4%B1k%20Kemal%20%C3%9Cniversitesi%20%C3%87orlu%20M%C3%BChendislik%20Fak%C3%BCltesi!5e0!3m2!1str!2str!4v1715353378027!5m2!1str!2str"
                            width="600"
                            height="450"
                            style="border: 0"
                            allowfullscreen=""
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="col-md-6">
                    <div class="card bg-primary">
                        <div class="card-body">
                            <div class="alert alert-warning">Lütfen formu doldurunuz!</div>
                            <form class="row g-3 text-white" method="post" action="/Contact/SubmitContact">
                                <div class="col-md-6">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="email"
                                           name="Email"
                                           id="email"
                                           class="form-control"
                                           placeholder="Email Giriniz" />
                                </div>
                                <div class="col-md-6">
                                    <label for="name" class="form-label">İsim</label>
                                    <input type="text"
                                           name="Name"
                                           id="name"
                                           class="form-control"
                                           placeholder="İsminizi Giriniz" />
                                </div>
                                <div class="col-md-12">
                                    <label for="Phone" class="form-label">Telefon</label>
                                    <input type="text"
                                           name="Phone"
                                           id="Phone"
                                           class="form-control"
                                           placeholder="Numaranızı Giriniz" />
                                </div>
                                <div class="col-md-12">
                                    <label for="subject" class="form-label">Konu</label>
                                    <input type="text"
                                           name="Subject"
                                           id="subject"
                                           class="form-control"
                                           placeholder="Konu" />
                                </div>
                                <div class="col-md-12">
                                    <label for="message" class="form-label">Mesaj</label>
                                    <textarea name="Message"
                                              id="message"
                                              class="form-control"
                                              placeholder="Mesajınızı Giriniz"></textarea>
                                </div>
                                <div class="col-12">
                                    <button type="submit"
                                            class="btn btn-secondary"
                                            style="width: 100%">
                                        Gönder
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
</body>
</html>
