html {
  height: 100vh;
}
body {
  margin: 0px;
  padding: 0px;
  background-color: #f4f6f9;
}
.box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 420px;
  padding: 20px;
  transform: translate(-50%, -50%);
  background-color: white;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0px 8px 24px blue;
  margin-top: 50px;
}
.box h3 {
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 20px;
  font-family: cursive, Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
  padding: 45px;
}
.input {
  text-align: center;
  margin-top: 40px;
}
.input input {
  width: 80%;
  height: 5vh;
  border-radius: 30px;
  background: transparent;
  border: 1px solid #f4f6f9;
}
.input input::placeholder {
  padding: 10px;
}
#btn {
  width: 80%;
  height: 5vh;
  border-radius: 30px;
  background: blue;
  color: white;
  border: none;
  box-shadow: 0px 8px 15px blue;
  cursor: pointer;
}
.box p {
  text-align: center;
  font-family: cursive, Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
  font-size: 13px;
  margin-top: 30px;
}
.box p span {
  color: blue;
  font-size: 14px;
  cursor: pointer;
}
.ln {
  margin: auto;
  width: 70%;
  height: 1px;
  background: blue;
  margin-top: 50px;
}
.box h5 {
  font-family: cursive, Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
  font-size: 11px;
  text-align: center;
  margin-top: 10px;
}
.icons {
  text-align: center;
}
.section1 img {
  width: 200px;
  display: block;
  margin: auto;
}
